<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<div id="container"><%- reactOutput %></div>

<script><%- initialData %></script>

<script src="/js/routerPage.bundle.js"></script>

</body>
</html>